
section.main-graphics{
		width:100%;
	    margin:0;
	    padding:0px 0 70px 0;
		
		.container{
			min-height: 40px;
		}
}


div.masthead{
    position:relative;
    margin-top:0px;
	&.full-bleed{
		margin-top: -30px;
		.masthead-contents{
			position:absolute;
			top:20px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			padding-bottom:0px !important;
			@media (max-width: 480px){
				position:relative;
				top:0;
			}
		}
	}
}

body{
    font-family: STHeiti;
}

h2{
    font-size:1.55em;
}



h4{
    font-size:1.2em;
}

h4 a{
    color:black;
}
h4 a:hover{
    color:#0080c3;
}



h5{
    font-size:1em;
    text-transform:uppercase;
}

p{
    font-size:1em;
    
}

img {
    width:100%;
}

.note{
    font-size:0.85em;
}



div.content{
    display:none;
}
div.showing{
    display:inline-block;
    overflow:hidden;
}





@media all and (max-width: 420px) {


    h1{
        font-size: 6.5vw;
        margin-bottom:-3.5%;
    }

    h2{
        font-size: 4vw;
        margin-bottom: -2%;
    }


    
}

@media all and (min-width: 426px) and (max-width: 768px) {

    

    h1{
        font-size: 5.8vw;
        margin-bottom:-2.5%;
    }

    h2{
        font-size: 3.1vw;
        margin-bottom: -0.4%;
    }

}

@media all and (min-width: 769px) {

    

    h1{
        font-size: 4vw;
        margin-bottom:-2%;
        margin-top: 5%;
    }

    h2{
        font-size: 2vw;
        margin-bottom: -0.6%;
    }


}
	



