
section.main-graphics{
		width:100%;
	    margin:0;
	    padding:0px 0 70px 0;
		
		.container{
			min-height: 40px;
		}
}


div.masthead{
    position:relative;
    margin-top:0px;
    height:100vh;
	&.full-bleed{
		margin-top: -30px;
		.masthead-contents{
			position:absolute;
			top:20px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			padding-bottom:0px !important;
			@media (max-width: 480px){
				position:relative;
				top:0;
			}
		}
	}
}

body{
    font-family: STHeiti;
}

h2{
    font-size:1.55em;
}



h4{
    font-size:1.2em;
}

h4 a{
    color:black;
}
h4 a:hover{
    color:#0080c3;
}



h5{
    font-size:1em;
    text-transform:uppercase;
}

p{
    font-size:1em;
    
}

img {
    width:100%;
}

.note{
    font-size:0.85em;
}



div.content{
    display:none;
}
div.showing{
    display:inline-block;
     overflow:hidden;
}

a{
    text-decoration: none;
}

a:visited,a:active,a:hover{
    text-decoration: none;
}




@media all and (max-width: 420px) {


    h1{
        font-size: 6.5vw;
        margin-top:0;
        margin-bottom: 0;
    }

    h2{
        font-size: 4vw;
        margin-bottom: -2%;
    }

    p{
        font-size:4vw;
    }

    h1#title_main{
        text-align: center; 
        color:white;
        line-height: 140%;
        font-family:STXihei;
        font-size: 5vw;
    }

    div#head_pic{
        margin-left: 30%;
        margin-top: 40%;
        width:40%;
    }

    div#title_log{
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left:5%;
        padding-right: 5%;
        /*background-color:#f3686c;*/
        background-color:#68B74A;
        margin-top: 13%;
        border-radius: 10px;
    }

    div#close_fake{
        background-color:#f3686c;
        width:18px;
        height:18px;
        border-radius: 9px;
        margin-top: 3%;
        margin-left: -5%;
    }

    p.head_other{
        color:lightgray;
        font-size: 3.5vw;
        text-align: center;
    }

    div#introduction{
        margin-top:0px;
        height:30vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }




    
}

@media all and (min-width: 426px) and (max-width: 768px) {

    

    h1{
        font-size: 5.8vw;
        margin-bottom:-2.5%;
    }

    h2{
        font-size: 3.1vw;
        margin-bottom: -0.4%;
    }

}

@media all and (min-width: 769px) {

    

    h1{
        font-size: 4vw;
        margin-bottom:-2%;
        margin-top: 5%;
    }

    h2{
        font-size: 2vw;
        margin-bottom: -0.6%;
    }


}
	



